Gemini_2_0_Flash.json
{
    "name": "Gemini 2.0 Flash",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "documentId": {
            "__rl": true,
            "value": "1LQWi3wMRUYavC0KsNx75OfCQBqHk3VGAzeIfSDp6k34",
            "mode": "list",
            "cachedResultName": "Financial Transactions Dataset",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQWi3wMRUYavC0KsNx75OfCQBqHk3VGAzeIfSDp6k34/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LQWi3wMRUYavC0KsNx75OfCQBqHk3VGAzeIfSDp6k34/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "typeVersion": 1,
        "position": [
          -380,
          -140
        ],
        "id": "9e1bd19a-386f-4867-8e1f-6fe1b2d4f33b",
        "name": "Google Sheets Trigger",
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "q77h9twlrgiFEjnf",
            "name": "Google Sheets Trigger account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          0,
          100
        ],
        "id": "03bf1ed2-36fd-47a9-856c-faa307d656d3",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "rARt8SurIJQtYN2Q",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"subject\": \"Latest Transaction\", \n  \"body\": \"Transaction Details\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          500,
          300
        ],
        "id": "08f8bd6c-5c74-4f7d-88bc-138d334ed3c0",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=You are in charge of client's financial transactions. You must take the information and create a summary to be emailed to the Analytics team. The email must be signed from \"Financial Analysis Team\". Show the transaction details in list for visibility.\n\nHere is the information:  \n\nClient Id: {{ $json.chatInput.client_id }}\nCard Number: {{ $json.chatInput.card_number }}\nCredit Limit: {{ $json.chatInput.expires }}\nCard on Darkweb: {{ $json.chatInput.card_on_dark_web }}\n\nPlease output below parameters: \nEmail Subject \nEmail body"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.6,
        "position": [
          100,
          -140
        ],
        "id": "5fe1e01b-795d-4406-9c21-c0db1e3805fc",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "58393e84-6905-49c5-a202-c65c60e4662a",
                "name": "chatInput",
                "value": "={ \n  \"client_id\": {{ $json.client_id }},\n  \"card_number\": {{ $json.card_number }},\n  \"expires\": {{ $json.expires }},\n  \"card_on_dark_web\": {{ $json.card_on_dark_web }}\n}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "22409c29-64da-4fe5-a35d-e69a305e68dd",
        "name": "Prompt",
        "type": "n8n-nodes-base.set",
        "position": [
          -140,
          -140
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "options": {
            "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
        "typeVersion": 1,
        "position": [
          320,
          100
        ],
        "id": "02748d2a-f0cc-461f-97ef-e1b98963208c",
        "name": "Auto-fixing Output Parser"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          220,
          300
        ],
        "id": "4e241586-bad5-4e0e-b618-41349f89c44d",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "rARt8SurIJQtYN2Q",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "danialmirxa96@gmail.com",
          "subject": "={{ $json.output.subject }}",
          "emailType": "text",
          "message": "={{ $json.output.body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          520,
          -140
        ],
        "id": "57b5b248-5439-4688-ab05-7ee8bb713a65",
        "name": "Gmail",
        "webhookId": "cfb86732-4c5b-4d2d-b407-93809c95cf27",
        "credentials": {
          "gmailOAuth2": {
            "id": "A73u6bDBM5nV5oVp",
            "name": "Gmail account"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Prompt": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto-fixing Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Auto-fixing Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Auto-fixing Output Parser",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Gmail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "e4b1a651-039b-45c1-8b94-799fac7daf27",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "96f721912228b5bb4568c97a1f4e4cc46ab62c108ff367e3039fb855cba37add"
    },
    "id": "EsQAnPLqUFVWkmOe",
    "tags": []
  }